@import "tailwindcss";

@theme {
	--color-primary100: #fbf9fe;
	--color-primary200: #E5DEEE;
	--color-primary300: #CFC2DF;
	--color-primary400: #B9A7CF;
	--color-primary500: #A38BBF;
	--color-primary600: #8771A0;
	--color-primary700: #6B5881;
	--color-primary800: #4E3E61;
	--color-primary900: #322442;
}